.o-mail-ChatWindow .o-mail-Thread > .bg-100.py-3 {
    padding-top: .75rem !important;
    padding-bottom: .5rem !important;
}

.o-mail-ChatWindow .o-mail-Thread > .bg-100.py-3 + .d-flex.flex-column.position-relative.flex-grow-1 {
    flex-grow: 0 !important;
    justify-content: flex-start !important;
}
